// Colors
$primary-color: #3e6f9e;
$background-color: #ffffff;
$background-color-dark: #222222;
$line-color: #ddd;
$line-color-dark: #333333;

// Fonts
$default-font: 'Avenir', sans-serif;
$title-font: 'Avenir', sans-serif;
